:root {
  --background-color: #c7936a;
  --link-color: #13826b;
  --primary-color: rgb(137, 18, 18);
}

body {
  background-color: var(--background-color);
}

h1 {
  display: block;
  color: #ffff;
  text-align: center;
  margin-top: 10px;
}

p {
  color: var(--primary-color);
  margin: 0 10px;
}

div.pages {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.links {
  color: var(--link-color);
  text-decoration: none;
  border: 1px solid floralwhite;
  padding: 3px 10px;
}

.links:hover {
  color: #ffff;
  cursor: grabbing;
}
